@import "../bootstrap/less/bootstrap.less";
@import "variables.less";
@import "bootswatch.less";
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab);

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 52px;
    padding-bottom: 20px;
}

#content {
    color: #ccc;
    padding: 30px;

    h1 {
        font-size: 175%;
    }
}

section.home {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}

.navbar-default {
    background-color: rgb(35, 133, 161);
    border-color: transparent;
    color: #fff;

    .navbar-nav > li > a,
    .navbar-nav > li > a:hover {
        color: #fff;
    }

    .navbar-toggle .icon-bar {
        background-color:#fff;
    }
}

.navbar-brand {
    padding: 0px;
}

#home {
    background: url(/img/fireball.jpg) no-repeat center center;
    padding: 0;
    background-size: contain;
    min-height: 600px;
    margin: -30px -30px 0 -30px;

    .overlay {
        padding-top: 90px;
        background-color: rgba(35, 35, 35, 0.75);
        min-height: 600px;
        color: #fff;
    }

    h1 {
        padding-top: 150px;
        font-weight: normal;
        font-size: 60px;
        font-family: 'Roboto Slab';
    }

    h2 {
        font-size: 42px;
    }
}

.parallax-like {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

    .overlay {
        min-height: 200px;
        background: rgba(35, 133, 161,0.9);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

#video-sec {
    color: #fff;
    text-align: center;

    .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        min-height: 300px;
        color: #fff;
    }

    h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 30px;
    }
}

#clients {
    background-color:#f4f4f4;
    padding-bottom:50px;
    padding-top:50px;

    img {
        opacity:0.5;
        cursor:pointer;

        &:hover {
            opacity:1;
        }
    }
}

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(35, 133, 161);
    color: #fff;

    a,
    a:hover {
        color: #fff;
        text-decoration: none;
    }
}

#sites {
    > .container {
        > .row {
            > div {
                > div {
                    background-color: #333;
                    border-radius: 10px;
                    margin-bottom: 15px;
                    padding: 15px;
                }
            }

            &:nth-child(even) {
                > div {
                    > div {
                        background-color: #222;
                    }
                }
            }
        }
    }

    .col-md-4 {
        > div {
            a {
                font-size: 160%;
                font-weight: bold;
                letter-spacing: 2px;

                &:hover,
                &:focus {
                    img {
                        cursor: pointer;
                        transform: scale(1.05, 1.05);
                        transition-duration: 0.3s;
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                        z-index: 1;
                    }
                }
            }
        }
    }

    img {
        cursor: default;
        display: block;
        margin-bottom: 15px;
    }
}

#source {
    border-top: 1px solid #333;
    margin-top: 60px;
    padding-top: 30px;

    h2 {
        font-size: 150%;
        margin-top: 0;
    }

    button {
        .btn;
        .btn-default;
        .btn-sm;
    }

    pre {
        background-color: #ccc;
        display: none;
        margin-top: 5px;
        max-height: 300px;
        overflow: auto;
    }

    ul {
        padding-left: 15px;
    }

    li {
        list-style-type: none;
        margin-bottom: 15px;
    }
}

a.back {
    padding-left: 0;
}
