@ghostColor: #ddd;
@ghostSize: 100px;
@normalSpeed: 4000ms;

#ghost-messages {
    max-width: 100%;
    min-height: @ghostSize;
    overflow: hidden;
    padding: 0;

    li {
        color: transparent;
        display: none;
        font-size: @ghostSize;
        left: 0;
        list-style-type: none;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 1000px #fff;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        &:nth-child(1) {
            display: block;
        }
        &.fade-in {
            font-size: @ghostSize;
            text-shadow: 0 0 0 #fff;
            span {
                transform: scale(1);
            }
        }
        &.fade-out {
            font-size: @ghostSize;
            text-shadow: 0 0 10px #fff;
            opacity: 0;
            span {
                transform: scale(1.1);
            }
        }
        span {
            transform: scale(1.1);
        }
    }
    .speed(@multiplier) {
        li {
            transition-duration: @normalSpeed * (3 / 4) * @multiplier;
            &.fade-out {
                transition-duration: (@normalSpeed / 4) * @multiplier;
            }
        }
    }
    &.speed-absurdly-slow {
        .speed(8);
    }
    &.speed-very-slow {
        .speed(4);
    }
    &.speed-slow {
        .speed(2);
    }
    &.speed-normal {
        .speed(1);
    }
    &.speed-fast {
        .speed(0.5);
    }
    &.speed-very-fast {
        .speed(0.25);
    }
    &.speed-hyperspeed {
        .speed(0.125);
    }
}
