#ghost-messages {
  max-width: 100%;
  min-height: 100px;
  overflow: hidden;
  padding: 0;
}
#ghost-messages li {
  color: transparent;
  display: none;
  font-size: 100px;
  list-style-type: none;
  position: absolute;
  text-align: center;
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(2);
}
#ghost-messages li:nth-child(1) {
  display: block;
  text-shadow: 0 0 1000px #fff;
}
#ghost-messages li.fade-in {
  font-size: 100px;
  text-shadow: 0 0 0 #fff;
  transform: scale(1);
}
#ghost-messages li.fade-out {
  font-size: 100px;
  text-shadow: 0 0 10px #fff;
  opacity: 0;
  transform: scale(1.5);
}
#ghost-messages.speed-absurdly-slow li {
  transition-duration: 24s;
}
#ghost-messages.speed-absurdly-slow li.fade-out {
  transition-duration: 8s;
}
#ghost-messages.speed-very-slow li {
  transition-duration: 12s;
}
#ghost-messages.speed-very-slow li.fade-out {
  transition-duration: 4s;
}
#ghost-messages.speed-slow li {
  transition-duration: 6s;
}
#ghost-messages.speed-slow li.fade-out {
  transition-duration: 2s;
}
#ghost-messages.speed-normal li {
  transition-duration: 3s;
}
#ghost-messages.speed-normal li.fade-out {
  transition-duration: 1s;
}
#ghost-messages.speed-fast li {
  transition-duration: 1500ms;
}
#ghost-messages.speed-fast li.fade-out {
  transition-duration: 500ms;
}
#ghost-messages.speed-very-fast li {
  transition-duration: 750ms;
}
#ghost-messages.speed-very-fast li.fade-out {
  transition-duration: 250ms;
}
#ghost-messages.speed-hyperspeed li {
  transition-duration: 375ms;
}
#ghost-messages.speed-hyperspeed li.fade-out {
  transition-duration: 125ms;
}
