#word-coalesce {
  font-size: 150%;
  position: relative;
}
#word-coalesce a {
  display: inline-block;
  z-index: 1;
}
#word-coalesce > span {
  display: inline-block;
  position: absolute;
  z-index: 2;
}
